# Copyright (C) 2017-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2017-present Sven Greb <development@svengreb.de>
#
# Project:    Nord Visual Studio Code
# Repository: https://github.com/arcticicestudio/nord-visual-studio-code
# License:    MIT
# References:
#   https://git-scm.com/docs/gitattributes
#   https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Keyword-Expansion

# Automatically perform line feed (LF) normalization for files detected as text and leave all files detected as binary
# untouched.
* text=auto

# +--------+
# + Assets +
# +--------+
*.ai binary
*.png binary

# +-----------------+
# + Build Artifacts +
# +-----------------+
*.vsix binary
