# Copyright (C) 2017-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2017-present Sven Greb <development@svengreb.de>
#
# Project:    Nord Docs
# Repository: https://github.com/arcticicestudio/nord-docs
# License:    MIT

# Configuration for Git mail mapping feature to coalesce together commits by the same person in the shortlog, where their name and/or email address was spelled differently.
#
# References:
#   https://git-scm.com/docs/git-shortlog#_mapping_authors
Arctic Ice Studio <development@arcticicestudio.com>
Sven Greb <development@svengreb.de>
