/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.projectTitle {
    color: rgb(220, 220, 200);
}

.nav-site a {
    font-family: Montserrat, sans-serif;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.post a {
    color: #61afef;
    opacity: 0.9;
}

.post a:hover {
    opacity: 1.0;
}

.tips {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.tip {
    background-color:rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tip-inner {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tip:nth-of-type(2n) {
    background-color:rgb(240, 240, 240);
}

.tip:nth-of-type(2n) .tip-inner {
    background-color:rgb(240, 240, 240);
    flex-direction: row-reverse;
}

.tip-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tip-text h2 {
    margin: 0;
    padding: 0;
}

.tip-text .description {
    margin: 2em;
}

.tip-video {
    margin: 3em;
    width: 400;
    height: 300;
}
